

/* --------------------- STYLING, DER GÆLDER FOR ALLE SIDER --------------------- */
* {
    font-family: DM Sans, 'Times', Arial, sans-serif;
    /* font-family: Sniglet, 'Times', sans-serif; */
    background-color: var(--sekundaerFarve); /* Indstiller baggrundsfarven for all HTML-filer, der er linket til denne CSS*/
}

:root {
    --skriftfarve: #000;
    --primaerFarve: #f9a822;
    --sekundaerFarve: #f8f3ea;
}

a {
    text-decoration: none; /* Fjerner underlinje fra anchortags*/
    list-style-type: none; /* Fjerner prikken i starten af listeelementets indhold */
    color: var(--skriftfarve); /* Gør linksene sorte i stedet for lilla-blå */
}

a:hover {
    text-decoration: underline; /* Giver underline til det link, man hover over for at tydeliggøre, hvor på sitet man er */
}

li {
    list-style: none; /* Fjerner prikker fra listeelementer */
}

.overskrift {
    text-align: center; /* Placerer overskriften på hver side det samme sted for at skabe kontinuitet */
    padding: 2% 0 0;
    font-size: 5.5rem;
    font-weight: lighter;
}

/* --------------------- STYLING AF NAVIGATION --------------------- */

.zerobuzz-brew-logo {
    width: 60vh;    
}

.navigationsliste-i-desktop {
    display: flex; /* Placerer links på horisontal række */
    justify-content: space-around; /* Placerer links længst til højre*/
    align-items: flex-end; /* Juster elementer lodret */
    font-size: 1.5rem; /* Skriftstørrelsen er default 16px. Ved brug af rem ganges font-størrelsen med værdien angivet foran rem */
}

.navigationslink {
    position: relative; /* Gør, at dropdown vises ved hover*/
    padding: 0 20px; /* Sætter afstanden mellem hvert link i navigationslinjen*/
}

.sidebar {
    position: fixed; /* Placerer dropdown til højre på siden */
    top: 0; /* Placerer dropdown over navigationslinjen */
    right: 0; /* Placerer dropdown til højre på siden */
    height: 100vh; /* Sørger for, at dropdown fylder fra top til bund*/
    width: 250px; /* Sørger for, at dropdown fylder 250px i bredden */
    z-index: 999; /* Sørger for, at dropdown overgår burgermenu-ikonet */
    backdrop-filter: blur(10px); /* Sørger for, at dropdown overgår burgermenu-ikonet */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); /* Giver dropdown en kant hele vejen rundt */
    display: none; /* Vises ikke før skærmen er mobil-version (se mediaqueries )*/
    flex-direction: column; /* Links i dropdown placeres i kolonne */
    justify-content: flex-start;
    text-decoration: none;
}

.menu-knap {
    display: none; /* Burgermenu-ikonet vises ikke i desktopview*/
}

/* --------------------- STYLING AF NAVIGATION I MOBIL-VIEW --------------------- */

@media(max-width: 1024px) {
    .hideOnMobile {
        display: none;
    }

    .menu-knap {
        display: block;
    }
}

.dropdown {
    display: none; /* Dropdown vises ikke i default */
    position: absolute; /* Sikrer, at links i navigationen ikke flytter sig ved hover*/
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Giver dropdown en skygge */
    list-style: none; /* Dropdown indholdet har ikke prikker foran sig */
    padding: 0; /* Sørger for, at links står til venstre i dropdown*/
    font-size: 1rem; /* Sætter størrelsen til default-størrrelse */
}

.dropdown li {
    width: 200px; /* Sørger for, at alle dropdowns har samme størrelse */
}

.dropdown a {
    padding: 10px 20px; /* Skaber afstand mellem links i dropdown */
    display: block; /* Skaber afstand mellem links i dropdown */
}

.navigationslink:hover .dropdown {
    display: block;
    right: 0; /* Sikrer dropdown-menuen ikke påvirker layoutet */
    left: auto; /* Nulstiller left for at sikre korrekt placering */
}

/* --------------------- STYLING AF FORSIDE --------------------- */
#forside-indhold {
    display: flex;
    justify-content: space-around; /* Placerer billedet og teksten med let afstand til hiannden*/
    align-items: center; /* Teksten placeres i midten af billedet vertikalt */
    transition: 2s;
}

#forside-tekst {
    font-size: 4.5rem; /* Skriftstørrelsen på teksten på forsiden */
}

#forside-billede {
    width: 70vh; /* Billedets størrelse */
}

/* --------------------- STYLING AF SORTIMENT-SIDE ---------------------*/

.sortiment-overblik {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sortimentbillede-og-tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: light;
}

.alkoholfri-oel-variant {
    width: 30vh;
    height: 50vh;
    padding: 0 5vh; /* Skaber afstand mellem billederne*/
}

#billeder-af-alkoholfri-oel-varianter {
    display: flex;
    justify-content: center;
}

#varianter {
    display: flex;
    justify-content: space-around;
}

/* --------------------- STYLING AF INDIVIDUEL ALKOHOLFRI ØL ---------------------*/

.alkoholfri-oel-variant-billede {
    display: block;
    width: 40vh;
    height: auto;
    margin-left: 10vh;
}

.alkoholfri-oel-information {
    display: flex;
    justify-content: center;
    margin: 0 30vh; /* Al indhold placeres i midten af siden */
}

.alkoholfri-oel-tekstinformation {
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
}

.alkoholfri-oel-overskrift {
    font-weight: lighter;
    font-size: 3.5rem;
    margin: 0;
    align-self: center;
}

.kalorieindhold {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.knap-til-brygningsproces {
    font-family: Sniglet, 'Times', sans-serif;
    font-weight: bold;
    background-color: var(--primaerFarve);
    color: white;
    margin-top: 2vh;
    padding: 1.5vh 3vh;
    font-size: 2rem;
    align-self: center;
}

#link-til-events {
    text-decoration: underline;
}

/* --------------------- STYLING AF BRYGNINGSPROCES ---------------------*/

#brygningsproces-indhold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30vh;
}

#brygningsproces-billede {
    rotate: 90deg;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#brygningsproces-billede-reference {
    text-align: center;
    margin-top: -2vh;
    color: grey;
    font-style: italic;
}

