

/* --------------------- STYLING, DER GÆLDER FOR ALLE SIDER --------------------- */
* {
    font-family: DM Sans, 'Times', Arial, sans-serif;
    background-color: var(--sekundaerFarve); /* Indstiller baggrundsfarven for all HTML-filer, der er linket til denne CSS*/
}

:root {
    --skriftfarve: #000;
    --primaerFarve: #f9a822;
    --sekundaerFarve: #f8f3ea;
}

a {
    text-decoration: none; /* Fjerner underlinje fra anchortags*/
    list-style-type: none; /* Fjerner prikken i starten af listeelementets indhold */
    color: var(--skriftfarve); /* Gør linksene sorte i stedet for lilla-blå */
}

a:hover {
    text-decoration: underline; /* Giver underline til det link, man hover over for at tydeliggøre, hvor på sitet man er */
}

li {
    list-style: none; /* Fjerner prikker fra listeelementer */
}

.overskrift {
    text-align: center; /* Placerer overskriften på hver side det samme sted for at skabe kontinuitet */
    font-size: 5.5rem;
    font-weight: lighter;
}

@media(max-width: 1024px) {
    .overskrift {
        font-size: 4rem; /* Størrelsen på fonte i mobil-view*/
    }
}

/* --------------------- STYLING AF NAVIGATION --------------------- */

.zerobuzz-brew-logo {
    width: 60vh; /* Logoets størrelse */
}

.menu-knap {
    display: none; /* Burgermenu-ikonet vises ikke i desktopview*/
}

.navigationsliste-i-desktop {
    display: flex; /* Placerer links på horisontal række */
    justify-content: space-around; /* Placerer links længst til højre*/
    align-items: flex-end; /* Juster elementer lodret */
    font-size: 1.5rem; /* Skriftstørrelsen er default 16px. Ved brug af rem ganges font-størrelsen med værdien angivet foran rem */
}

.navigationslink {
    position: relative; /* Gør, at dropdown vises ved hover*/
    padding: 0 20px; /* Sætter afstanden mellem hvert link i navigationslinjen*/
}

.dropdown {
    display: none; /* Dropdown vises ikke i default */
    position: absolute; /* Sikrer, at links i navigationen ikke flytter sig ved hover*/
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Giver dropdown en skygge */
    list-style: none; /* Dropdown indholdet har ikke prikker foran sig */
    padding: 0; /* Sørger for, at links står til venstre i dropdown*/
    font-size: 1rem; /* Sætter størrelsen til default-størrrelse */
}

.dropdown li {
    width: 200px; /* Sørger for, at alle dropdowns har samme størrelse */
}

.dropdown a {
    padding: 10px 20px; /* Skaber afstand mellem links i dropdown */
    display: block; /* Skaber afstand mellem links i dropdown */
}

.navigationslink:hover .dropdown {
    display: block;
    right: 0; /* Sikrer dropdown-menuen ikke påvirker layoutet */
    left: auto; /* Nulstiller left for at sikre korrekt placering */
}

/* --------------------- STYLING AF NAVIGATION I MOBIL-VIEW --------------------- */

@media(max-width: 1024px) {
    .hideOnMobile {
        display: none; /* Sidebar vises ikke i desktop */
    }

    .menu-knap {
        display: block; /* Burgermenu vises i mobile */
    }

    .zerobuzz-brew-logo {
        width: 80%; /* Logoet forstørres i mobil-view */
    }
}

.sidebar {
    display: none; /* Vises ikke før skærmen er mobil-version (se mediaqueries )*/
    position: fixed; /* Placerer dropdown til højre på siden */
    top: 0; /* Placerer dropdown over navigationslinjen */
    right: 0; /* Placerer dropdown til højre på siden */
    height: 75%; /* Sørger for, at dropdown fylder fra top til bund*/
    width: 50%; /* Sørger for, at dropdown fylder 30% af skærmen */
    z-index: 999; /* Sørger for, at dropdown overgår burgermenu-ikonet */
    /* backdrop-filter: blur(10px); /* Sørger for, at dropdown overgår burgermenu-ikonet */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); /* Giver dropdown en kant hele vejen rundt */
    flex-direction: column; /* Links i dropdown placeres i kolonne */
}

.sidebar-kategori { /* Styling af alle kategorierne*/
    position: relative;
    font-size: 2rem;
    padding: 5vh 0; /* Afstand mellem hvert link */
}

.undermenu-i-sidebar { /* Styling af de 'indre'kategorier*/
    display: none; /* Underkategorierne vises ikke */
    font-size: 1.4rem; /* Ændring af font-størrelse, så den ikke arver fra sin forældre */
}

.sidebar-kategori:hover .undermenu-i-sidebar {
    display: block; /* Hvis man hover over kategorien i sidebar vil den tilhørende underkateogrier vises*/
}


/* --------------------- STYLING AF FORSIDE --------------------- */
#forside-indhold {
    display: flex;
    justify-content: space-around; /* Placerer billedet og teksten med let afstand til hiannden*/
    align-items: center; /* Teksten placeres i midten af billedet vertikalt */
    transition: 2s;
}

#forside-tekst {
    font-size: 4.5rem; /* Skriftstørrelsen på teksten på forsiden */
}

#forside-billede {
    width: 70vh; /* Billedets størrelse */
}

#pil-og-scroll {
    display: none; /* Vises kun i mobile-view */
}

/* --------------------- STYLING AF FORSIDE I MOBIL-VIEW --------------------- */

@media(max-width: 1024px) {

    #forside-indhold {
        display: flex; 
        flex-direction: column; /* Al forsideindhold stilles oven på hinanden */
    }

    #forside-tekst {
        font-size: 3rem; /* Skriftstørrelsen gøres mindre */
        text-align: center; /* Teksten har samme 'midterpunkt' */
    }
    
    #pil-og-scroll {
        display: flex; /* I mobil-view stilles pilen og scroll oven på hinanden */
        flex-direction: column;
        align-items: center; /* Fil og tekst placeres i midten */
    }

    #sortiment-forside-id {
        display: flex;
        flex-direction: column; /* I mobil-view stilles mest solgte-billeder oven på hinanden*/
    }

    #mest-solgte-forside-id {
        font-size: 4rem; /* Overskriften MEST SOLGTE få en større font-størrelse */
    }
}

/* --------------------- STYLING AF SORTIMENT-SIDE OG EVENTS-SIDE---------------------*/

.sortiment-overblik, #events-overblik {
    display: flex; 
    flex-direction: row; /* De tre billeder på sortiementsiden placeres på række*/
    justify-content: center; /* Billederne placeres i midten*/
}

.sortimentbillede-og-tekst, #eventsbillede-og-tekst {
    display: flex; 
    flex-direction: column; /* Sortimentbilledet og den tilhørene tekst placeres ovenpå hinanden */
    align-items: center; /* Teksten placeres i midten under det tilhørende billede */
    font-size: 1.5rem; /* Størrelsen på skriften */
}

.alkoholfri-oel-variant, .events-i-by-billede {
    width: 30vh; /* Hvert billede fylder */
    height: 50vh; /* Hvert billede fylder */
    padding: 0 5vh; /* Skaber afstand mellem billederne*/
}

/* --------------------- STYLING AF SORTIMENT I MOBIL-VIEW OG--------------------- */

@media(max-width: 1024px) {
    .sortiment-overblik, #events-overblik {
        display: flex;
        flex-direction: column; /* Stiller elementerne oven på hinanden i stedet for på række */
    }
}

/* --------------------- STYLING AF INDIVIDUEL ALKOHOLFRI ØL OG EVENTS I AARHUS ---------------------*/

.pil-tilbage-til-sortiment, #pil-tilbage-til-events {
    margin-left: 10vh; /* Pilen tilbage til sortiment rykkes ind fra kanten*/
}

.alkoholfri-oel-variant-billede, .aarhus-billede {
    width: 40vh; /* Bredden på billedet*/
    height: auto; 
}

.alkoholfri-oel-information, .events-i-aarhus-information {
    display: flex; /* Placerer tekst og billede på linje */
    margin: 0 30vh; /* Al indhold placeres i midten af siden */
}

.alkoholfri-oel-tekstinformation, #events-i-aarhus-tekstinformation {
    display: flex;
    flex-direction: column; /* Al indhold placeres i midten af beholderen og stilles op i vertikal kolonne */
    margin-left: 2vh; /* Teksten rykkes til højre for billedet */
}

.alkoholfri-oel-overskrift, .events-i-aarhus-overskrift {
    font-weight: lighter; /* Overskiften bliver tyndere */
    font-size: 3.5rem; /* Størrelsen på overskriften */
    margin: 0; /* Fjerner al margin */
    align-self: center; /* Placerer overskriften i midten */
}

.knap-til-brygningsproces, .knap-til-tilmelding {
    font-family: Sniglet, 'Times', sans-serif; /* Ændrer fonten i knappen */
    font-weight: bold; /* Gør fonten tykkere*/
    background-color: var(--primaerFarve); /* Sætter farven til den primære farve */
    color: white; /* Font-farve */
    margin-top: 2vh; /* Skaber afstand til tekststykket over */
    padding: 1.5vh 3vh; /* Størrelsen på 'knappen' */
    font-size: 2rem; /* Fontens størrelse */
    align-self: center; /* 'Knappen' placeres i midten af beholderen*/
}

.link-til-events {
    text-decoration: underline; /* Linket til events i skovbær-øllen har underline for at tydeliggøre, at det er et link*/
}

/* --------------------- STYLING AF TILMELDINGSFORMULAR OG TAK FOR DIN TILMELDING-SIDE --------------------- */
.tilmeldingsformular {
    display: flex;
    flex-direction: column; /* Indholdet stilles oven på hinanden */
    align-items: center; /* Indholdet stilles i midten*/
    text-align: center; /* Teksten stilles i midten */
}

#tak-for-din-tilmelding-indhold {
    display: flex; 
    flex-direction: column; /* Teksten stilles oven på hinanden */
    align-items: center; /* Teksten stilles i midten */
}

form {
    border: 1px solid #ccc; /* Laver kant rundt om tilmeldingsboksen*/
    padding: 20px; /* Skaber afstand til kanten */
    border-radius: 10px; /* Giver boksen bløde kanter */
    width: 300px; /* Bredden på boksekanten */
}

label {
    font-weight: bold; /* Teksten inden i boksen bliver fed*/
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 100%; /* Bredden på inputboksen er ens og fylder 100% inden for tilmeldingsboksen */
    padding: 10px; /* Højden på inputboksen er ens */
    margin-bottom: 15px; /* Skaber afstand mellem alle inputbokse */
    border: 1px solid #ccc; /* Inputboksens kanter styles */
    border-radius: 5px; /* Kanterne på inputboksene bliver runde */
    box-sizing: border-box; /* Inputbokse bliver i boksen */
}

input[type="submit"] {
    width: 100%; /* Bredden på tilmeldings-knappen fylder 100% af tilmeldingsboksen */
    padding: 10px; /* Højden på tilmeldings-knappen */
    border: none; /* Kanten på knappen fjernes */
    background-color: var(--primaerFarve); /* Knappen gøres orange */
    color: var(--sekundaerFarve); /* Skriftfarven */
    cursor: pointer; /* Ved hover over knappen bliver det til en pegende hånd */
    border-radius: 5px; /* Kanterne gøres runde */
    font-size: 1.5rem;
}

input[type="submit"]:hover {
    font-weight: bolder; /* Tekststørrelsen gøres federe ved hover*/
}


/* --------------------- STYLING AF INDIVIDUEL ALKOHOLFRI ØL OG EVENTS I AARHUS I MOBIL-VIEW --------------------- */

.specifik-sortiment-og-event {
    display: none; /* Vises ikke i desktop */
}

@media(max-width: 1024px) {
    .events-i-aarhus-information, .alkoholfri-oel-information {
        display: none; /* Vises ikke i mobil-view*/
    }

    .specifik-sortiment-og-event {
        display: flex;
        flex-direction: column; /* Indholdet stilles oven på hinanden */
        justify-content: center; /* Indholdet placeres i midten */
        align-items: center;
    }

    .alkoholfri-oel-information, .events-i-aarhus-information {
        margin: 0 20vh; /* Den bredde som teksten fylder i mobil-view */
    }

}


/* --------------------- STYLING AF BRYGNINGSPROCES ---------------------*/

#brygningsproces-indhold {
    display: flex;
    flex-direction: column; /* Indholdet placeres oven på hianden*/
    margin: 0 20%; /* Sørger for en margin på 20% til hver side*/
}

#brygningsproces-billede {
    margin: auto;
    width: 70%; /* Billedet placeres i midten */
}

#brygningsproces-billede-reference {
    text-align: center; /* Placeres under billedet */
    color: grey; /* Får en grå farve så det ligner et link*/
    font-style: italic; /* Giver skråskrift så det ligner et link */
}

/* --------------------- STYLING AF BRYGNINGSPROCES I MOBIL-VIEW --------------------- */

/* --------------------- STYLING AF BAG OM ---------------------*/
.bag-om-billedgalleri {
    width: 30%; /* Giver alle billeder på siden samme størrelse */
    padding: 10px; /* Skaber større afstand mellem billederne */
}

figure.scroll-container {
    overflow: auto; /* Gør, at siden står fast og at det er hjulet, der rykker sig. Hvis denne ikke er til bliver siden bredere til højre */
    white-space: nowrap; /* Placerer billederne på linje */
}

/* --------------------- STYLING AF FOOTER--------------------- */
.footer-billede {
    width: 20%; /* Billedet størrelse i footer i desktop */
}

.midter-footer {
    display: flex;
    flex-direction: column; /* Teksten stilles oven på hinanden */
    align-items: center; /* Tekst har samme midterpunkt */
}

.til-toppen-footer {
    display: none; /* Vises ikke i desktop-view */
}

.mobil-footer-links {
    display: none; /* Vises ikke i desktop-view */
}

/* --------------------- STYLING AF FOOTER I MOBIL-VIEW --------------------- */


@media(max-width: 1025px) {

    .midter-footer {
        display: none; /* Vises ikke i mobil-view */
    }
    
    .mobil-footer-links {
        margin-top: 10vh; /* Afstand til toppen */
        display: flex;
        justify-content: space-around; /* Placerer links med afstand til hinanden */
    }

    .til-toppen-footer {
        display: block; /* Pil, der linker til toppen vises i mobil-view */
    }

}

