

/* --------------------- STYLING, DER GÆLDER FOR ALLE SIDER --------------------- */
* {
    font-family: DM Sans, 'Times', Arial, sans-serif;
    /* font-family: Sniglet, 'Times', sans-serif; */
    background-color: var(--sekundaerFarve); /* Indstiller baggrundsfarven for all HTML-filer, der er linket til denne CSS*/
}

:root {
    --skriftfarve: #000;
    --primaerFarve: #f9a822;
    --sekundaerFarve: #f8f3ea;
}

a {
    text-decoration: none; /* Fjerner underlinje fra anchortags*/
    list-style-type: none; /* Fjerner prikken i starten af listeelementets indhold */
    color: var(--skriftfarve); /* Gør linksene sorte i stedet for lilla-blå */
}

a:hover {
    text-decoration: underline; /* Giver underline til det link, man hover over for at tydeliggøre, hvor på sitet man er */
}

li {
    list-style: none; /* Fjerner prikker fra listeelementer */
}

.overskrift {
    text-align: center; /* Placerer overskriften på hver side det samme sted for at skabe kontinuitet */
    font-size: 5.5rem;
    font-weight: lighter;
}

@media(max-width: 1024px) {
    .overskrift {
        font-size: 3rem;
    }
}

/* --------------------- STYLING AF NAVIGATION --------------------- */

.zerobuzz-brew-logo {
    width: 60%;    
}

.menu-knap {
    display: none; /* Burgermenu-ikonet vises ikke i desktopview*/
}

.navigationsliste-i-desktop {
    display: flex; /* Placerer links på horisontal række */
    justify-content: space-around; /* Placerer links længst til højre*/
    align-items: flex-end; /* Juster elementer lodret */
    font-size: 1.5rem; /* Skriftstørrelsen er default 16px. Ved brug af rem ganges font-størrelsen med værdien angivet foran rem */
}

.navigationslink {
    position: relative; /* Gør, at dropdown vises ved hover*/
    padding: 0 20px; /* Sætter afstanden mellem hvert link i navigationslinjen*/
}

.dropdown {
    display: none; /* Dropdown vises ikke i default */
    position: absolute; /* Sikrer, at links i navigationen ikke flytter sig ved hover*/
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Giver dropdown en skygge */
    list-style: none; /* Dropdown indholdet har ikke prikker foran sig */
    padding: 0; /* Sørger for, at links står til venstre i dropdown*/
    font-size: 1rem; /* Sætter størrelsen til default-størrrelse */
}

.dropdown li {
    width: 200px; /* Sørger for, at alle dropdowns har samme størrelse */
}

.dropdown a {
    padding: 10px 20px; /* Skaber afstand mellem links i dropdown */
    display: block; /* Skaber afstand mellem links i dropdown */
}

.navigationslink:hover .dropdown {
    display: block;
    right: 0; /* Sikrer dropdown-menuen ikke påvirker layoutet */
    left: auto; /* Nulstiller left for at sikre korrekt placering */
}

/* --------------------- STYLING AF NAVIGATION I MOBIL-VIEW --------------------- */

@media(max-width: 1024px) {
    .hideOnMobile {
        display: none;
    }

    .menu-knap {
        display: block;
    }

    .zerobuzz-brew-logo {
        width: 80%; /* Logoet forstørres i mobil-view */
    }
}

.sidebar {
    display: none; /* Vises ikke før skærmen er mobil-version (se mediaqueries )*/
    position: fixed; /* Placerer dropdown til højre på siden */
    top: 0; /* Placerer dropdown over navigationslinjen */
    right: 0; /* Placerer dropdown til højre på siden */
    height: 100%; /* Sørger for, at dropdown fylder fra top til bund*/
    width: 30%; /* Sørger for, at dropdown fylder 30% af skærmen */
    z-index: 999; /* Sørger for, at dropdown overgår burgermenu-ikonet */
    backdrop-filter: blur(10px); /* Sørger for, at dropdown overgår burgermenu-ikonet */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); /* Giver dropdown en kant hele vejen rundt */
    flex-direction: column; /* Links i dropdown placeres i kolonne */
}

.sidebar-kategori { /* Styling af alle kategorierne*/
    position: relative;
    font-size: 2rem;
    padding: 5vh 0; /* Afstand mellem hvert link */
}

.undermenu-i-sidebar { /* Styling af de 'indre'kategorier*/
    display: none; /* Underkategorierne vises ikke */
    font-size: 1.5rem; /* Ændring af font-størrelse, så den ikke arver fra sin forældre */
}

.sidebar-kategori:hover .undermenu-i-sidebar {
    display: block; /* Hvis man hover over kategorien i sidebar vil den tilhørende underkateogrier vises*/
}


/* --------------------- STYLING AF FORSIDE --------------------- */
#forside-indhold {
    display: flex;
    justify-content: space-around; /* Placerer billedet og teksten med let afstand til hiannden*/
    align-items: center; /* Teksten placeres i midten af billedet vertikalt */
    transition: 2s;
}

#forside-tekst {
    font-size: 4.5rem; /* Skriftstørrelsen på teksten på forsiden */
    font-weight: lighter;
}

#forside-billede {
    width: 70vh; /* Billedets størrelse */
}

#pil-og-scroll {
    display: none;
}

/* --------------------- STYLING AF FORSIDE I MOBIL-VIEW --------------------- */

@media(max-width: 1024px) {

    #forside-indhold {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #forside-tekst {
        font-size: 3rem;
        text-align: center;
    }

    #forside-billede {
        margin: auto;
        padding: auto;
        width: 50%;
    }

    #pil-og-scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sortiment-forside-id, #mest-solgte-forside-id {
        display: none; /**/
    }
}

/* --------------------- STYLING AF SORTIMENT-SIDE OG EVENTS-SIDE---------------------*/

.sortiment-overblik, #events-overblik {
    display: flex; 
    flex-direction: row; /* De tre billeder på sortiementsiden placeres på række*/
    justify-content: center; /* Billederne placeres i midten*/
}

.sortimentbillede-og-tekst, #eventsbillede-og-tekst {
    display: flex; 
    flex-direction: column; /* Sortimentbilledet og den tilhørene tekst placeres ovenpå hinanden */
    align-items: center; /* Teksten placeres i midten under det tilhørende billede */
    font-size: 1.5rem; /* Størrelsen på skriften */
}

.alkoholfri-oel-variant, .events-i-by-billede {
    width: 30vh; /* Hvert billede fylder */
    height: 50vh; /* Hvert billede fylder */
    padding: 0 5vh; /* Skaber afstand mellem billederne*/
}

/* --------------------- STYLING AF SORTIMENT I MOBIL-VIEW --------------------- */

@media(max-width: 1024px) {
    .sortiment-overblik, #events-overblik {
        display: flex;
        flex-direction: column; /* Stiller elementerne oven på hinanden i stedet for på række */
    }
}

/* --------------------- STYLING AF INDIVIDUEL ALKOHOLFRI ØL OG EVENTS I AARHUS ---------------------*/

.pil-tilbage-til-sortiment, #pil-tilbage-til-events {
    margin-left: 10vh; /* Pilen tilbage til sortiment rykkes ind fra kanten*/
}

.alkoholfri-oel-variant-billede, #aarhus-billede {
    width: 40vh; /* Bredden på billedet*/
    height: auto; 
}

.alkoholfri-oel-information, #events-i-aarhus-information {
    display: flex; /* Placerer tekst og billede på linje */
    margin: 0 30vh; /* Al indhold placeres i midten af siden */
}

.alkoholfri-oel-tekstinformation, #events-i-aarhus-tekstinformation {
    display: flex;
    flex-direction: column; /* Al indhold placeres i midten af beholderen og stilles op i vertikal kolonne */
    margin-left: 2vh; /* Teksten rykkes til højre for billedet */
}

.alkoholfri-oel-overskrift, #events-i-aarhus-overskrift {
    font-weight: lighter; /* Overskiften bliver tyndere */
    font-size: 3.5rem; /* Størrelsen på overskriften */
    margin: 0; /* Fjerner al margin */
    align-self: center; /* Placerer overskriften i midten */
}

.knap-til-brygningsproces, #knap-til-tilmelding {
    font-family: Sniglet, 'Times', sans-serif; /* Ændrer fonten i knappen */
    font-weight: bold; /* Gør fonten tykkere*/
    background-color: var(--primaerFarve); /* Sætter farven til den primære farve */
    color: white; /* Font-farve */
    margin-top: 2vh; /* Skaber afstand til tekststykket over */
    padding: 1.5vh 3vh; /* Størrelsen på 'knappen' */
    font-size: 2rem; /* Fontens størrelse */
    align-self: center; /* 'Knappen' placeres i midten af beholderen*/
}

#link-til-events {
    text-decoration: underline; /* Linket til events i skovbær-øllen har underline for at tydeliggøre, at det er et link*/
}

/* --------------------- STYLING AF INDIVIDUEL ALKOHOLFRI ØL OG EVENTS I AARHUS I MOBIL-VIEW --------------------- */




/* --------------------- STYLING AF BRYGNINGSPROCES ---------------------*/

#brygningsproces-indhold {
    display: flex;
    flex-direction: column; /* Indholdet placeres oven på hianden*/
    margin: 0 20%; /* Sørger for en margin på 20% til hver side*/
}

#brygningsproces-billede {
    rotate: 90deg; /* Billedet er roteret */
    margin: auto;
    padding: auto;
    width: 70%; /* Billedet placeres i midten */
}

#brygningsproces-billede-reference {
    text-align: center; /* Placeres under billedet */
    color: grey; /* Får en grå farve så det ligner et link*/
    font-style: italic; /* Giver skråskrift så det ligner et link */
}

/* --------------------- STYLING AF BRYGNINGSPROCES I MOBIL-VIEW --------------------- */



/* --------------------- STYLING AF FOOTER--------------------- */
.footer-billede {
    width: 20%;
}

.midter-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Tekst har samme midterpunkt */
}

#mobil-footer-links {
    display: none;
}

.til-toppen-footer {
    display: none;
}

.mobil-footer-links {
    display: none;
}

/* --------------------- STYLING AF FOOTER I MOBIL-VIEW --------------------- */


@media(max-width: 1025px) {

    .midter-footer {
        display: none;
    }
    
    .mobil-footer-links {
        margin-top: 10vh;
        display: flex;
        flex-direction: column; /* Placerer teksten oven på hinanden*/
        align-items: center; /* Placerer tekst med samme midterpunkt*/
    }

    .mobil-footer-knap {
        margin: 2vh 0;
        padding: 1.5vh 8vh;
        background-color: var(--primaerFarve);
        font-size: 2rem;
    }

    .til-toppen-footer {
        display: block;
    }

}

