
/* --------------------- STYLING, DER GÆLDER FOR ALLE SIDER --------------------- */
* {
    font-family: DM Sans, 'Times', Arial, sans-serif;
    /* font-family: Sniglet, 'Times', sans-serif; */
    background-color: var(--sekundaerFarve); /* Indstiller baggrundsfarven for all HTML-filer, der er linket til denne CSS*/
}

:root {
    --skriftfarve: #000;
    --primaerFarve: #f9a822;
    --sekundaerFarve: #f8f3ea;
}

a {
    text-decoration: none; /* Fjerner underlinje fra anchortags*/
    list-style-type: none; /* Fjerner prikken i starten af listeelementets indhold */
    color: var(--skriftfarve); /* Gør linksene sorte i stedet for lilla-blå */
}

.overskrift {
    text-align: center; /* Placerer overskriften på hver side det samme sted for at skabe kontinuitet */
    padding: 2% 0 0;
    font-size: 5.5rem;
    font-weight: lighter;
}

/* --------------------- STYLING AF NAVIGATIONSLINJE --------------------- */

.burgermenu-ikon {
    display: none; /* Skjuler burgermenu i desktopview*/
    size: 20%;
}

.navigationslinje {
    display: flex; /* Logo og links i navigationslinje står på en vandret linje */
    justify-content: space-between; /* Placerer logo og links i hver sin 'ende' af flexboxen */
    align-items: flex-end; /* Juster elementer lodret */
    margin-right: 50px;
}

.dropdown {
    display: flex;
    gap: 50px; /* Sikrer mellemrum mellem hvert link i navigationslinjen */
    font-size: 2.5rem; /* Skriftstørrelsen er default 16px. Ved brug af rem ganges font-størrelsen med værdien angivet foran rem */
    list-style-type: none; /* Fjern punkttegn fra listeelementer */
    margin: 0; /* Placerer links så tæt på den afsluttende navigationslinje som muligt*/
}

.dropdown :hover .dropdown-indhold {
    display: block; /* Viser dropdown-indhold, når der hoveres over dropdown-elementet */
}

.dropdown li .dropdown-indhold {
    display: none; /* Indholdet i hver dropdown er som udgangspunkt skjult */
    position: absolute; /* Links i navigationslinje forbliver på deres plads, når dropdown-indholdet vises */
    box-shadow: 0 4px 8px #000; /* Skyggeeffekt i dropdown-indhold */
    list-style-type: none; /* Fjern punkttegn fra dropdown listeelementer */
    padding: 0;
    font-weight: lighter;
}

/* Styling af dropdown-indhold links */
.dropdown-indhold a {
    display: block; /* Elementerne i dropdown vises som blockelementer og sikrer, at dropdown-menuen ikke ændrer form i bunden */
    padding: 8px 16px; /* Afstand mellem dropdown-indhold */
    font-size: 2rem; /* Skriftstørrelsen på indholdet i dropdown */
}

.dropdown li .dropdown-indhold :hover {
    text-decoration: underline; /* Ved hover over dropdown-indholder kommer der underline for at tydeliggøre, hvor musen er*/

}

/* --------------------- STYLING AF FORSIDE --------------------- */
#forside-indhold {
    display: flex;
    justify-content: space-around; /* Placerer billedet og teksten med let afstand til hiannden*/
    align-items: center; /* Teksten placeres i midten af billedet vertikalt */
    transition: 2s;
}

#forside-tekst {
    font-size: 4.5rem; /* Skriftstørrelsen på teksten på forsiden */
}

#forside-billede {
    width: 70vh; /* Billedets størrelse */
}

/* --------------------- STYLING AF SORTIMENT-SIDE ---------------------*/


.alkoholfri-oel-variant {
    width: 15%; /* Billederne får den samme størrelse*/
    padding: 0 5%;
    border-radius: 15px; /* Gør kanterne bløde*/
}

#billeder-af-alkoholfri-oel-varianter {
    display: flex;
    justify-content: center;
}

#varianter {
    display: flex;
    justify-content: space-around;
}

/* --------------------- STYLING AF INDIVIDUEL ALKOHOLFRI ØL ---------------------*/
.alkoholfri-oel-variant {
    display: flex;
    justify-content: space-around;
}

.kalorieindhold {
    display: flex;
    justify-content: center;
}


/* --------------------- STYLING AF DET RESPONSIVE ---------------------*/
@media only screen and (max-width: 1024px) {
    .navigationslinje {
        display: block;
    }

}


